.footer{
    background-color: #ededed;
    padding: 70px 0;
     font-family: "Quicksand", sans-serif;
     
}
.footer1{
   width: 25%;
   padding: 0 15px;
}
.footer1 h4{
    font-size: 18px;
    color: #05483A;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}
.footer1 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #FFD17D;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer1 ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer1 ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #5d737e;
    display: block;
    transition: all 0.3s ease;
}
.footer1 ul li a{
  color:#5d737e;
  font-weight: 555;
}
.footer1 ul li a:hover{
    color: #8bb1b1;
    padding-left: 8px;
    transition: all 0.3s ease;
}
.footer1 .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #071a1d;
    margin:0 10px 40px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: #fde6a8;
}

.footer1 .social-links a:hover{
    color: #24262b;
    background-color: #fde6a8;
}
i{
  font-size:  27px;
  margin-top: 10px;
}
body {
  background-color: #ededed;
}


.ul ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

body{
  background-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.ul li{
  float: right;
}

.ul li a{
  display: block;
  color: #D7BB4D;
  text-align: centre;
  padding: 18px 20px;
  text-decoration: none;
  margin: 0;
}

.ul ul li a:hover{
  background-color: #D7BB4D;
  color: #darkred;
  text-decoration-color: darkred;
  color: darkred;
  text-shadow: 2px 2px 4px darkred;
}

img.harta{
  width: 1250px;
  height: 600px;
}


form{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


        h2 {
            color:white;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color:white;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            background-color:grey;
            color: white;
            border: 1px solid grey;
            border-radius: 5px; 
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: white;
            color: #black;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: black;
            color: white;
        }

ul {
  list-style: none;
}
