@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
body{

}

.ul ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

body{
  background-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.ul li{
  float: right;
}

.ul li a{
  display: block;
  color: #D7BB4D;
  text-align: centre;
  padding: 18px 20px;
  text-decoration: none;
  margin: 0;
}

.ul ul li a:hover{
  background-color: #D7BB4D;
  color: #darkred;
  text-decoration-color: darkred;
  color: darkred;
  text-shadow: 2px 2px 4px darkred;
}

img.harta{
  width: 1250px;
  height: 600px;
}


form{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
}

        h2 {
            color:white;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color:white;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            background-color:grey;
            color: black;
            border: 1px solid grey;
            border-radius: 5px; 
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: white;
            color: #black;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: black;
            color: white;
        }







.lorita {
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color:black;
  padding: 70xp 0;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col {
    width: 100%;
  }
}